# Backend
PORT=3100
NODE_ENV=development

# Database
DATABASE_URL=postgresql://linesalepos:linesalepos_secret@localhost:5440/linesalepos

# LINE
LINE_CHANNEL_SECRET=873a92fd713f5d39109ce5d7c63893bf
LINE_CHANNEL_ACCESS_TOKEN=nTslzpxzq+SyR7hDROtGl5YFkYVzHxSoz+8PYDBHcMNMrVFmz1/hCk2kQ2EziFrz63e2MeO3IUv7t9BwEDGI7aRPPCa1xkvfXjr1AiQx4B33BX8nBzB6DIuf4GWuAPsN7hlYLCTxnhqcrJ+bRuf1WgdB04t89/1O/w1cDnyilFU=
LIFF_ID=2010513978-7nnuR1sU

# JWT / Session
JWT_SECRET=#!@Dd87828@DF@$@*FHSD!@!@RS

# Frontend URL (for CORS and receipts)
FRONTEND_URL=https://copy-abstract-validation-pointing.trycloudflare.com

# Admin
ADMIN_SECRET=AS@#@822347#@!@!@#^%&@!#