@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Noto Sans Thai', sans-serif;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply bg-gray-50 text-gray-900;
    overscroll-behavior: none;
  }
}

@layer utilities {
  .safe-bottom {
    padding-bottom: env(safe-area-inset-bottom, 16px);
  }
  .safe-top {
    padding-top: env(safe-area-inset-top, 0px);
  }
}
